In [16]:
import sqlite3 as sql
import pandas as pd

In [17]:
db = sql.connect('data/Datastore.sql')
query = "SELECT sql FROM sqlite_master WHERE name = 'sessions';"
cursor = db.execute(query)
rows = cursor.fetchall()
print(rows)

[('CREATE TABLE sessions (statTime timestamp, sessionStartTime timestamp, playerID varchar(50), sessionID varchar(50))',)]

In [18]:
query = "SELECT * FROM sessions"
cursor = db.execute(query)
rows = cursor.fetchall()
print(rows)

[('2019-05-29 14:11:40.553495', '5/29/2019 2:11:40 PM', '38416e239391e09fcc9e414fcdd37c9a', '-'), ('2019-05-29 14:13:44.009808', '5/29/2019 2:13:43 PM', '1b00892fd9c01c8003b3784c657cd10c', '2770d867f1168dbf3f4c6eaa0f746242')]

In [19]:
query = "SELECT * FROM counters"
cursor = db.execute(query)
rows = cursor.fetchall()
print(rows)

[('2019-05-29 14:11:42.492945', '-', '38416e239391e09fcc9e414fcdd37c9a', 'Collision', 'WestCollider', '{}'), ('2019-05-29 14:11:48.850459', '-', '38416e239391e09fcc9e414fcdd37c9a', 'Collision', 'SouthCollider', '{}'), ('2019-05-29 14:11:53.063122', '-', '38416e239391e09fcc9e414fcdd37c9a', 'Collision', 'EastCollider', '{}'), ('2019-05-29 14:13:45.948057', '2770d867f1168dbf3f4c6eaa0f746242', '1b00892fd9c01c8003b3784c657cd10c', 'Collision', 'WestCollider', '{}'), ('2019-05-29 14:13:51.367722', '2770d867f1168dbf3f4c6eaa0f746242', '1b00892fd9c01c8003b3784c657cd10c', 'Collision', 'SouthCollider', '{}'), ('2019-05-29 14:13:54.920593', '2770d867f1168dbf3f4c6eaa0f746242', '1b00892fd9c01c8003b3784c657cd10c', 'Collision', 'EastCollider', '{}')]

In [31]:
query = "SELECT statTime, PlayerID, SessionID, CounterName, PrimaryParameter FROM counters WHERE SessionID = 'dcc0faba848842c5253ffa1a648f2a6d' ORDER BY statTime ASC"
df = pd.read_sql_query(query, db)
df

,statTime,playerID,sessionID,counterName,primaryParameter
0,2019-05-29 15:04:10.533467,1b00892fd9c01c8003b3784c657cd10c,dcc0faba848842c5253ffa1a648f2a6d,Collision,WestCollider
1,2019-05-29 15:04:30.973808,1b00892fd9c01c8003b3784c657cd10c,dcc0faba848842c5253ffa1a648f2a6d,Collision,WestCollider
2,2019-05-29 15:04:31.990943,1b00892fd9c01c8003b3784c657cd10c,dcc0faba848842c5253ffa1a648f2a6d,Collision,SouthCollider